<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Football League{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
    <script src="{{ url_for('static', filename='../static/js/script.js') }}"></script>
</head>
<body>
    <a href="/users">Users</a>
    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>